<div class="smm-intake-header">
    <div class="smm-ga-header__logo">
       
    </div>
    <div class="smm-intake-header__title">
        <img class="ga-image" src="../../../assets/images/georgia-department-img.png" alt="logo">
        <label>INTAKE</label> &gt; &nbsp;
        <label>Home</label>
       
    </div>
    <!-- <div class="smm-intake-header__user">
        <div class="smm-intake-header__user__name">
        <span>{{user}}</span>
        </div>
        <div class="smm-intake-header__user__logout">
        <button (click)="logout()">Logout</button>
        </div>
    </div> -->
</div>